# Binaries
*.exe
*.exe~
/bin/
/tmp/

# Env
.env

# Source material (raw uploads can be large / copyrighted — keep out of git)
/source/pyq/*
/source/books/*
/source/solutions/*
/source/syllabus/*
!/source/**/.gitkeep

# OS / editor
.DS_Store
.idea/
.vscode/
